<div id="frmFamiliaAlterar" class="dash-form">
  <div class="row form-group">
    <div class="col-sm-12 mx-auto bg-white rounded shadow table-striped">
      <div class="titulo-form">
        <img src="/images/edit-64.png" />
        <h3>Alterar</h3>
      </div>
      <fieldset class="form-group">
        <form
          action="/dashboard/familia/update"
          method="post"
          class="formulario"
        >
          <label for="id_familia"># ID:</label>
          <input
            type="text"
            id="id_familia"
            name="id_familia"
            class="form-control"
            value="{{familia.id_familia}}"
            readonly
          />
          <label for="id_setor">Setor:</label>
          <select name="id_setor" class="form-control">
            <option value="0">Selecione o setor</option>
            {{#each setores}}
              <option value="{{id_setor}}" {{#if CHECKED}}selected{{/if}}>{{nome}}</option>
            {{/each}}
          </select>
          <label for="nome">Nome:</label>
          <input
            type="text"
            id="nome"
            name="nome"
            class="form-control"
            value="{{familia.nome}}"
            maxlength="30"
          />
          <label for="endereco">Endereço:</label>
          <input
            type="text"
            id="endereco"
            name="endereco"
            class="form-control"
            value="{{familia.endereco}}"
            maxlength="30"
          />
          <label for="numero">Número:</label>
          <input
            type="text"
            id="numero"
            name="numero"
            class="form-control"
            value="{{familia.numero}}"
            maxlength="10"
          />
          <br />
          <div class="text-center">
            <button class="btn btn-primary" type="reset">Cancelar</button>
            <button class="btn btn-primary" type="submit">Alterar</button>
          </div>
        </form>
      </fieldset>
    </div>
  </div>
</div>