<div id="frmFamiliaConsultar" class="dash-form">
  <div class="row form-group">
    <div class="col-sm-12 mx-auto bg-white rounded shadow table-striped">
      <div class="titulo-form">
        <img src="/images/view-64.png" />
        <h3>Consultar</h3>
      </div>
      <fieldset class="form-group">
        <form action="/dashboard/familia" method="post" class="formulario">
          <label for="id_familia"># ID:</label>
          <input
            type="text"
            name="id_familia"
            class="form-control"
            value="{{familia.id_familia}}"
            readonly
          />
          <label for="id_setor">Setor:</label>
          <select name="id_setor" class="form-control" disabled="true">
            <option value="0">Selecione o setor</option>
            {{#each setores}}
            <option value="{{id_setor}}" {{#if CHECKED}}selected{{/if}}>{{nome}}</option>
            {{/each}}
          </select>
          <label for="nome">Nome:</label>
          <input
            type="text"
            name="nome"
            class="form-control"
            value="{{familia.nome}}"
            readonly
          />
          <label for="endereco">Endereço:</label>
          <input
            type="text"
            name="endereco"
            class="form-control"
            value="{{familia.endereco}}"
            readonly
          />
          <label for="numero">Número:</label>
          <input
            type="text"
            name="numero"
            class="form-control"
            value="{{familia.numero}}"
            readonly
          />
          <br />
          <br />
        </form>
      </fieldset>
    </div>
  </div>
</div>