<div class="dash-item">
  <div class="titulo-lista">
    <div class="search">
      <span><a href="/dashboard/familia/list">Famílias</a></span>
      <form method="GET" action="/dashboard/familia">
        <input
          type="text"
          id="search"
          name="search"
          class="form-control"
          value="{{search}}"
          placeholder="nome"
        />
        <button type="submit" id="btn-search"></button>
        <a href="/dashboard/familia/reset">
          <img
            src="/images/eraser-32.png"
            alt="Remover filtro"
            title="Remover filtro"
          />
        </a>
      </form>
      <a href="/dashboard/familia/list#cadastro"><img
          src="/images/add-32.png"
          alt="Novo"
          title="Novo"
        /></a>
    </div>
  </div>
  <div class="mx-auto bg-white rounded shadow">
    <table class="table table-fixed table-striped table-familia">
      <thead class="thead-dark">
        <tr class="row">
          <th class="col-sm-1">#</th>
          <th class="col-sm-5">Nome</th>
          <th class="col-sm-2">Pessoas</th>
          <th class="col-sm-4" colspan="4">Ações</th>
        </tr>
      </thead>
      <tbody>
        {{#each familias}}
          <tr class="row">
            <td class="col-sm-1">{{id_familia}}</td>
            <td class="col-sm-5">{{nome}}</td>
            <td class="col-sm-2">{{qtde}}</td>
            <td class="col-sm-1">
              <a href="/dashboard/pessoa/familia/{{id_familia}}">
                <img
                  src="/images/pessoas-32x32.jpg"
                  alt="Membros da Fámilia"
                  title="Membros da Fámilia"
                />
              </a>
            </td>
            <td class="col-sm-1">
              <a href="/dashboard/familia/view/{{id_familia}}">
                <img
                  src="/images/view-32.png"
                  alt="Consultar"
                  title="Consultar"
                />
              </a>
            </td>
            <td class="col-sm-1">
              <a href="/dashboard/familia/edit/{{id_familia}}">
                <img src="/images/edit-32.png" alt="Alterar" title="Alterar" />
              </a>
            </td>
            <td class="col-sm-1">
              <a href="/dashboard/familia/delete/{{id_familia}}">
                <img
                  src="/images/delete-32.png"
                  alt="Excluir"
                  title="Excluir"
                />
              </a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <br />
  </div>
</div>