<div class="dash-item">
  <div class="titulo-lista">
    <span><a href="/dashboard/dizimo/list">Dizimo</a></span>
  </div>
  <div class="mx-auto bg-white rounded shadow mt-2">
    <fieldset class="form-group">
      <form
        action="/dashboard/dizimo/save"
        method="post"
        class="container-sm row mt-3"
      >
        {{#each familias}}
          <div class="col-sm-11">{{nome}}</div>
          <div class="switch__container col-sm-1">
            <input
              id="dizimista-{{id_familia}}"
              name="dizimista-{{id_familia}}"
              class="switch switch--shadow"
              type="checkbox"
              value="{{id_familia}}"
              nochecked
            />
            <label for="dizimista-{{id_familia}}"></label>
          </div>
        {{/each}}
        <div class="text-center col-sm-12 mt-1 mb-1">
          <button class="btn btn-primary" type="submit">Gravar</button>
        </div>
      </form>
    </fieldset>
  </div>
</div>